<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>

<ul>
    <li><a href="/#!/app/table.html">Table</a></li>
    <li><a class="active" href="/#!/app/graph.html">Graph</a></li>
</ul>

<script src="https://d3js.org/d3.v5.min.js"></script>

<body>

<div class="layoutRow">
    <!--Column 1-->
    <div class="lColumn">
        <h3>  </h3>
    </div>

    <div class="column">

        <select ng-model="graphColumn0" ng-options="col for col in columns"></select><select ng-disabled="!graphColumn0" ng-model="graphParameter0" ng-options="x for x in lists.Accessed" ng-change="GetSelectedList()"></select>


        <input type="text" ng-model="graphParameter0"><p></p>
        <select ng-model="graphColumn1" ng-options="x for x in columns"></select><input type="text" ng-model="graphParameter1"><p></p>
        <select ng-model="graphColumn2" ng-options="x for x in columns"></select><input type="text" ng-model="graphParameter2"><p></p>
        <select ng-model="graphColumn3" ng-options="x for x in columns"></select><input type="text" ng-model="graphParameter3"><p></p>
        <select ng-model="graphColumn4" ng-options="x for x in columns"></select><input type="text" ng-model="graphParameter4">
        <button data-ng-click="plot()">Plot</button>

        <viz id='viz'></viz>

        <div id="graph"></div>

    </div>

    <div class="rColumn">
        <h3>  </h3>
    </div>
</div>
</body>

</html>