<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>

<ul>
    <li><a href="/#!/app/table.html">Table</a></li>
    <li><a class="active" href="/#!/app/graph.html">Graph</a></li>
</ul>

<script src="https://d3js.org/d3.v5.min.js"></script>

<body>

<div class="layoutRow">
    <!--Column 1-->
    <div class="lColumn">
        <h3>  </h3>
    </div>

    <div class="column">

        <div class="dynamicRows">
            <div class="form-group" data-ng-repeat="(choicekey, choice) in choices[0]">

                <select ng-model="c" ng-options="col for col in columns" ng-change="loadColumn(choicekey,c,val)"></select>
                <select name="val" ng-model="val" ng-change="updateChoice(choicekey,c,val)">
                    <option value="">Select</option>
                    <option ng-repeat="o in opts" value="{{o.name}}">{{o.name}}</option>
                </select>
                <button ng-click="deleteChoice(choicekey)">Delete line</button>
                <br>
            </div>
            <button ng-click="addNewChoice()">Add Choice</button>


        </div>

        <button data-ng-click="plot()">Plot</button>

        <viz id='viz'></viz>

        <div id="graph"></div>

    </div>

    <div class="rColumn">
        <h3>  </h3>
    </div>
</div>
</body>

</html>